#navbar {
    width: 50%;
}

#navbar ul li a {
    font-size: 5px;
    padding: 0px 5px;
}

#services {
    height: 600px;
}

#services1 {
    height: 600px;
}

#services1 .box4 .img3 {




    width: 300px;
    height: 510px;
    padding: 5px 9px;
}