#navbar{
    width: 90%;
 }
 #navbar ul li a{
     font-size: 1rem;
     padding: 0px 7px;
 }
 #services{
     height: 800px;
 }
 #services1{
     height: 800px;
 }
 #services1 .box4 .img3{

    
    
    
    width: 300px;
    height: 510px;
    padding:5px 9px; }